[submodule "php-mode"]
	path = php-mode
	url = https://github.com/emacs-php/php-mode.git
[submodule "tasktags"]
	path = tasktags
	url = https://github.com/tellary/tasktags.git
[submodule "meta-bindings"]
	path = meta-bindings
	url = https://github.com/tellary/meta-bindings.git
